.button {
    line-height: 69px;
    display: inline-block;
    font-size: 60px;
    height: 85px;
    width: 45px;
}

.button:hover {
    animation: Button-spin infinite 1s linear;
}

.root {
    border: 3px solid #61dafb;
    border-radius: 200ch;
    box-shadow: 0px 0px 35px #61dafb;
    transition: 0.5s;
    height: 85px;
    width: 45px;
}

.root:hover {
    border: 3px solid #861ecc;
    box-shadow: 0px 0px 35px #861ecc;
}

@keyframes Button-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}